$dark-blue: #090a0c;
$red: #C84343;
$dark-gray: #161616;
$font: 'Overpass', sans-serif;

$media-desktop: 1408px;
$media-xl: 1300px;
$media-mobile: 768px;

$body-font: 16px;
$padding-m: 50px;